.who {
  padding: 60px 0 0;
}
.who__wrapper {
  display: flex;
  flex-direction: column;
}
.who__line {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  margin-bottom: 20px;
  @include media-desktop {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.who__line--sound {
  @include media-desktop {
    order: 3;
  }
}
.who__block {
  width: 530px;
  &--right {
    margin-right: 112px;
    @include media-desktop {
      margin-right: 0;
    }
  }
}
.who__img {
  @include media-desktop {
    margin-bottom: 30px;
    width: 100%;
    height: auto;
  }
}
.who__title {
  width: 310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  @include media-desktop {
    width: 240px;
    margin: 0 auto 30px;
    h3 {
      @include font($size: 1.6rem, $height: 2rem, $weight: 500);
    }
  }
}
.who__text {
  max-width: 550px;
  display: flex;
  gap: 20px;
  p {
    margin-bottom: 30px;
    @include font($size: 1.8rem, $height: 2.3rem);
    @include media-desktop {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }
  @include media-desktop {
    width: 100%;
    margin: auto;
    img {
      display: none;
    }
  }
}
